.login-page{
    height: calc(100vh - 76px);
}

.login-image div{
    background-color: lightgrey;
    height: 90%;
    width: 90%;
    border-radius: 24px;
}

@media(max-width : 576px){
    .login-image div{
        margin-top: 30px;
    }

    .login-logo{
        visibility: hidden;
        position: absolute;
    }
}