.contact-table {
    background-color: var(--color-2-p);
    width: 100%;
    position: sticky;
    border-radius: 12px;
    font-size: 21px;
    top: 92px;
}

.text-contact {
    width: 100%;
    text-align: center;
}

.button-contact {
    color: var(--color-1-p);
    font-weight: 700;
    text-align: center;
    background-color: var(--color-2-s);
    border-radius: 12px;
    text-decoration: none;
    transition: 300ms;
}

@media only screen and (max-width: 991px) {
    /* .contact-table {
        border-radius: 15px;
        width: 92.6%;
        margin-top: 0px;
        margin-left: 20px;
    } */
} 