.parallax-wrapper {
    height:130vh;
    overflow: hidden;
}

.parallax-wrapper > img{
    z-index: -2;
    width: 100%;
}

.parallax-cover-1 {
    height: 20vh;
    bottom: 100vh;
    z-index: -2;
    position: relative;
    width: 100%;
} 

.parallax-cover-1 > img{
    width: 100%;
}

.explore img{
    width: 60px;
}

@media (max-width: 768px){
    .parallax-wrapper {
        background-image: url('../../../Assets/Parallax/responsiveBg.svg');
    }

    .parallax-wrapper > img{
        height: 80vh;
        width: auto;
        display: none;
    }

    .parallax-cover-1 {
        overflow: hidden;
        height: 100vh;
        display: flex;
        bottom: 0px;
        justify-content: center;
    }
}