.parallax-wrapper {
    height:130vh;
    overflow: hidden;
}

.parallax-wrapper .element{
    background-size: cover;
    background-position: center;
    z-index: -3;
    width: 100%;
    height: 120vh;
}

.parallax-wrapper > img{
    z-index: -2;
    width: 100%;
}

.parallax-cover-1 {
    height: 20vh;
    bottom: 90vh;
    z-index: -2;
    position: relative;
    width: 100%;
} 

.parallax-cover-1 > img{
    width: 100%;
}

.parallax-cover-2 {
    top : -400%;
    width: 100%;
    overflow: hidden;
}

.parallax-cover-4 {
    top : -400%;
}

.parallax-cover-5 {
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
}

.explore img{
    width: 60px;
}

@media (max-width: 768px){
    .parallax-wrapper {
        background-image: url('../../../Assets/Parallax/responsiveBg.svg');
    }

    .parallax-wrapper > img{
        height: 80vh;
        width: auto;
        display: none;
    }

    .parallax-cover-1 {
        overflow: hidden;
        height: 100vh;
        display: flex;
        bottom: 0px;
        justify-content: center;
    }

    .parallax-cover {
        top : -300%;
    }

    .parallax-cover-2 {
        top : -450%;
    }

    .parallax-cover-4 {
        top : -430%;
    }
    .parallax-cover-5 {
        background-color:#df7200;
    }
}