.judul {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    color: #451400;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
}

/*logoP*/

.filosofi {
    background: rgba(115, 38, 72, 0.5);
    border-radius: 12px;
    text-align: justify;
    backdrop-filter: blur(5px) brightness(0.6);
    max-width: 520px;
    min-height: 660px;
    color: white;
  }
  
  
  .filosofi h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .filosofi p {
    font-weight: 500;
  }

@media (max-width : 768px){
  .filosofi p {
    font-size: 12px;
  }

  .filosofi {
    min-height: 590px;
  }
}