.display-wrapper {
    width: 100%;
}

.question-display {
    background-color: var(--color-2-p);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-display .nope {
    width: 30px;
    height: 17px;
    transition: transform .5s ease;
    color: white;
}

.rotate {
    transform: rotate(180deg);
    width: 30px;
    height: 17px;
    color: white;
}

.item {
    width: 100%;
    background-color: #FCF4F5;
    border-radius: 15px;
    box-sizing: border-box;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.answer p {
    margin: 13px 30px 15px 15px;
}

.answer.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}