.display-wrapper {
    width: 100%;
    margin: 30px 0 20px 20px;
}

.question-display {
    background-color: #732648;
    border-radius: 15px;
    padding: 12px 15px 0.1% 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question-display p {
    color: white;
    width: 94%;
}

.question-display .nope {
    width: 30px;
    height: 17px;
    transition: transform .5s ease;
    color: white;
}

.rotate {
    transform: rotate(180deg);
    width: 30px;
    height: 17px;
    color: white;
}

.item {
    width: 95%;
    margin-top: 15px;
    background-color: #FCF4F5;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 30%;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.answer p {
    margin: 13px 30px 15px 15px;
}

.answer.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media only screen and (max-width: 991px) {
    .display-wrapper {
        width: 97.5%;
        margin-bottom: 0px;
    }
} 