.btn-toggle{
    background-color: var(--color-1-p);
    color: white;
    width: 30%;
    border-radius: 100px;
    border: 0px;
    padding: 0px;
}

.btn-toggle:disabled{
    background: linear-gradient(90deg, var(--color-1-p) 5%,gray 5%);
    color: lightgray;
}

.btn-logout{
    border-radius: 100px;
    background-color: transparent;
    border: solid 1px var(--color-1-p);
    color: var(--color-1-p);
}

.btn-logout:hover{
    transition: 300ms;
    background-color: var(--color-1-p);
    color: white;
}

.btn-save,.btn-cancel{
    background-color: transparent;
    border: 0px;
}

.btn-cancel{
    color: var(--color-1-p);
    border: solid transparent 1px;
    transition: 300ms;
}

.btn-cancel:hover{
    border: solid var(--color-1-p) 1px;
    border-radius: 100px;
}

.btn-save{
    color: white;
    background-color: var(--color-1-p);
    border-radius: 100px;
}

.user-profile h5{
    color: var(--color-1-p);
}

.user-profile section{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 24px;
    border: 0px;
    background-color: var(--color-1-p);
    color: white;
}

.user-profile input,textarea{
    border: solid 2px var(--color-1-p);
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 24px;
}

.user-bg{
    background-size: cover;
}

.user-grade th{
    padding-bottom: 10px;
    padding-top: 10px;
}