.narahubung-style {
    margin-bottom: 20px;
}

.logo-narahubung {
    width: 300px;
    display: block;
    margin: 20px -20px 0 auto;
}

.thumbnail-narahubung {
    font-family: 'Bebas Neue';
    color: #451400;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 700;
    margin-top: 80px;
    margin-left: 20px;
}

.garis-narahubung {
    height: 3px;
    width: 60%;
    background-image: linear-gradient(to right, #521737, #732648, #92373B, #AD462F, #C15127, #D55C1E, #FF730C, #FFA42E);
    margin-left: auto;
    margin-right: auto;
}

.person-narahubung {
    font-size: 32px;
    font-weight: 600;
    color: #451400;
    text-align: center;
    margin-top: 20px;
}

.cp-narahubung {
    background-color: #732648;
    border-radius: 21px;
    color: white;
    width: 50%;
    height: 80px;
    margin: 20px auto 10px auto;
}

.icon-narahubung {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 15px;
    margin-left: 20%;
}

.text-narahubung {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-left: 1px;
    margin-top: 20px;
}

@media only screen and (max-width: 575px) {
    .person-narahubung {
        font-size: 28px;
    }

    .logo-narahubung {
        margin-right: auto; 
    }

    .thumbnail-narahubung {
        margin-left: auto;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .text-narahubung {
        font-size: 20px;
        margin-left: 25px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .logo-narahubung {
        width: 250px;
        margin: 20px auto 0 auto;
    }

    .icon-narahubung {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 25%;
    }

    .text-narahubung {
        font-size: 16px;
        margin-left: 15px;
        margin-top: 27px;
    }
}

@media only screen and (max-width: 548px) {
    .cp-narahubung {
        width: 75%;
        height: 50px;
    }

    .icon-narahubung {
        width: 30px;
        height: 30px;
        margin-top: 9px;
        margin-left: 40%;
    }

    .text-narahubung {
        font-size: 17px;
        margin-left: 3px;
        margin-top: 11px;
    }
}

@media only screen and (max-width: 376px) {
    .person-narahubung {
        font-size: 25px;
    }

    .garis-narahubung {
        width: 70%;
    }

    .icon-narahubung {
        width: 23px;
        height: 23px;
        margin-top: 12px;
        margin-left: 25%;
    }

    .thumbnail-narahubung {
        font-size: 70px;
        font-weight: 700;
        margin: 10px auto 0 auto;
    }

    .text-narahubung {
        font-size: 15px;
        margin-left: -5px;
        margin-top: 12px;
    }
}