@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

.taskD--content {
    background-color: #732648;
    border-radius: 24px;
    color: #FCF4F5;
}

.taskD--content h1 {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 96px;
    padding-bottom: 10px;
}

.taskD--jilid {
    margin-top: 85px;
    gap: 15px;
    left: 28px;
}
.taskD--elipse {
    background-color: #521737;
    border-radius: 40px;
    width: 60px;
    height: 30px;
}

.taskD--isi p {
    text-align: justify;
    width: 97%;
}

#bintang {
    filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(120%) hue-rotate(306deg) brightness(104%) contrast(98%);
    width: 50px;
}

.taskD--content h4 {
    font-size: 20px;
    font-weight: 600;
}

.star-icon input {
    margin-top: 0px;
    width: 50px;
    height: 50px;
    opacity: 0%;
    z-index: 1;
    cursor: pointer;
}

.star-icon input:checked ~ #bintang {
    filter: none !important;
}

.star-icon input:active ~ #bintang {
    transform: scale(0.8);
    transition: 0.2s ease;
}

@media (max-width: 767.98px) {
    .taskD--elipse {
        display: none;
    }

    .star-icon , #bintang {
        margin-right: 50px;
        width: 40px !important;
    }

    .taskD--content h1 {
        font-size: 80px;
        text-align: center;
        width: 100% !important;
        align-items: center;
    }

    .taskD--content h4 {
        font-size: 17px;
    }

    .taskD--content p {
        font-size: 10px;
    }

    .taskD--content article {
        margin-left: 10px !important;
    }

    .taskD--inputan input {
        font-size: 10px;
        height: 30px !important;
        width: 260px !important;
    }

    .taskD--inputan button:first-of-type {
        margin-left: 10px;
    }

    .taskD--inputan button {
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 13px !important;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: 120px !important;
    }
}

@media (max-width: 350px) {
    .taskD--inputan button:first-of-type {
        margin-left: 10px;
    }

    .taskD--inputan button:last-of-type {
        margin-left: -5px;
    }

    .taskD--inputan button {
        margin-bottom: 20px;
        font-size: 13px !important;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: 120px !important;
    }
}