.bg-coming {
    background: linear-gradient(to top, rgba(195, 215, 180, 1), rgba(176, 207, 176, 1), rgba(176, 187, 150, 1), rgba(177, 155, 109, 1), rgba(130, 38, 0, 1));
}

.rangkaian-gallery {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.bg-coming-2 {
    background: linear-gradient(to bottom, rgba(26, 99, 87, 1), rgba(14, 78, 76, 1), rgba(18, 57, 67, 1), rgba(4, 28, 41, 1))
}

.coming-soon-gallery {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #22485D;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index:0;
}

@media (max-width: 769px){
    .bg-page2-gallery {
        min-height: 100vh;
    }

    .coming-soon-gallery {
        font-size: 72px;
        margin-top: 110vh;
    }
}