.footer{
    background-color: var(--color-3);
    color: var(--color-font);
    border-top: solid var(--color-4) 5px;
}

.footer-link{
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer span{
    font-family : 'Montserrat', sans-serif;
}

.link-icon{
    font-size: 24px;
}

.link-icon i{
    margin-right: 12px;
    cursor: pointer;
    background-color:var(--color-4) ;
}

@media(max-width : 576px){
    .footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .col{
        margin-bottom: 32px;
    }

    .footer .icon-ifelse{
        justify-content: center;
    }
}