.taskS {
    max-width: 330px;
    color: var(--color-bg);
    cursor: pointer;
}

.content--task--small {
    background-color: var(--color-2-p);
    border-radius: 12px;
    transition: 300ms;
    max-width: 330px;
}

.content--task--small:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#taskS--title {
    font-weight: 600;
}

#taskS--desc {
    text-align: justify;
}

.taskS--date {
    height: 25px;
    width: 161px;
    border-radius: 24px;
    background-color: #521737;
}

.taskS--date p {
    font-weight: 700;
    font-size: 14px;
}

.taskS--jilid {    
    gap: 18px;
    left: 20px;
}
.taskS--elipse {
    background-color: var(--color-1-p);
    border-radius: 24px;
    width: 40px;
    height: 21px;
}

#list{
    height: fit-content;
}

.side-task::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.side-task::-webkit-scrollbar-track {
  border-radius: 10px;
  border: solid gray 1px;
  margin-top: 16px;
}
 
/* Handle */
.side-task::-webkit-scrollbar-thumb {
  background: var(--color-2-p); 
  border-radius: 10px;
}

/* Handle on hover */
.side-task::-webkit-scrollbar-thumb:hover {
  background: var(--color-1-p); 
}