.recent {
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid;
}

.news-recent {
    height: 810px;
    color: #FCF4F5;
    border-radius: 50px;
    background: #732648;
    max-width: 80%;

    margin: 50px 0 10px 65px;
}

.slide-recent{
    height: 480px;
}

.images-recent {
    width: 105.36%;
    object-fit: cover;
}

.image-recent {
    width: 95%;
    border-radius: 50px 50px 0px 0px;
}

.news-recent h1 {
    width: 90%;
    height: 45.31px;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;

    margin: 20px 0 0 4%;
}

.news-recent p {
    font-size: 12px;
}

.detail-recent {
    border: 1px solid white;
    width: 92%;
    height: 260px;
    overflow: hidden;
    font-weight: 400;
    
    line-height: 30px;
    text-align: justify;

    margin: 10px 0 0 4%;
}

.tanggal-recent {
    margin: 10px 0 0 9%;
}

.read-recent {
    text-align: right;
    margin: 10px 10% 0 0;
}

.link-recent {
    text-decoration: none;
    color:white;
}

.link-recent :hover {
    color:white;
}

@media (max-width:760px){
    .slide-recent{
        height: 210px;
    }
}