@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: auto;
}

nav{
    z-index: 100;
}

pre{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

:root{
    --color-1-p:#521737;
    --color-2-p:#732648;
    --color-1-s:#FF730C;
    --color-2-s:#FFA42E;
    --color-3:#FFE3C7;
    --color-4: linear-gradient(90deg, #521737 0%, #AD462F 50%, #FFA42E 100%);
    --color-bg:#FCF4F5;
    --color-font:#462E2E;
}