@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    transition-duration: 300ms;
    /* box-sizing: border-box */
}

nav{
    z-index: 100;
}

:root{
    --color-1-p:#521737;
    --color-2-p:#732648;
    --color-1-s:#FF730C;
    --color-2-s:#FFA42E;
    --color-3:#FFE3C7;
    --color-4:linear-gradient(90deg, #521737 0%, #732648 14.9%, #92373B 29.48%, #AD462F 48.23%, #C15127 67.5%, #D55C1E 83.65%, #FF730C 95.1%, #FFA42E 100%);
    --color-bg:#FCF4F5;
    --color-font:#462E2E;
}