.admin a{
    text-decoration: none;
}

.admin #sidebar{
    position: relative;
    transition: 300ms;
}

.admin .logout{
    cursor: pointer;
}

#sidebar .nav-item{
    transition: 300ms;
}

#sidebar .nav-item:hover{
    cursor: pointer;
    background-color: darkgray;
}

#sidebar .nav-item:active{
    color: var(--color-2-s);
}

#admin-content{
    overflow-y: auto;
    height: 100vh;
}

#admin-content nav{
    position:sticky;
    top: 0;
}

.shortcut{
    color: white;
    cursor: pointer;
    transition: 300ms;    
}

.shortcut:hover{
    color: var(--color-2-s);
    transform: translateY(-10px);
}

@media(max-width : 768px){
    .admin #sidebar{
        overflow-y: auto;
        height: 100vh;
        position: fixed;
        z-index: 100;
    }

    .aktif{
        margin-left: -100vw;
    }

    #admin-content nav{
        position:relative;
        z-index: 0;
    }
}