nav{
    /* background-color: var(--color-3); */
    /* color: var(--color-font); */
    top: 0;
}

.nav-user-icon{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    background-color: var(--color-1-p);
}

.nav-brand{
    cursor: pointer;
}

nav span{
    font-family : 'Montserrat', sans-serif;
}

.nav-text{
    font-size: 18px;
    font-weight: 500;
}

nav ul{
    display: flex;
    flex-direction: row !important;
}
.btn-navlogin{
    color: white;
    background: var(--color-4);
    padding : 3px 20px;
    border-width: 0px;
    border-radius: 100px;
}

.mobile-button{
    display: none;
    background: var(--color-4);
    padding : 1px 50px;
    border-radius: 100px;
    border: 0px;
    color: white;
}

@media(max-width : 576px){

    nav ul{
        position: fixed;
        background-color: var(--color-3);
        width: 100vw;
        height: 100vh;
        top: 74px;
        left: 100vw;
        flex-direction: column !important;
        align-items: center;
        justify-content:center;
        padding-bottom: 100px;
    }

    .nav-text{
        font-size: 7vw;
    }

    #check:checked ~ ul{
        left: 0;
    }
}